h1{
    color: lawngreen;       
}
/* *{
   border: solid; 
} */
.header{

    display:flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}
.grid{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.footer{
    display: flex;
    justify-content: flex-start;
}
p,h2{
    text-align: center;
}
body{
    margin:0px;
    background-color: #ffffff
}
a:link{
    color: darkgoldenrod;
}
a:visited{
    color: white;
}
.origami{
    
    display:flex;
    justify-content: space-between;
}
.grid :hover{
    transform: scale(1.2);
}
.bg{
    background-color: aqua;
}